@model IEnumerable<SpotOn.ApplicationLogic.ViewModels.Posts.PostViewModel>
<style>
    #postContent {
        margin-left: 10%;
        margin-right: 10%;
        cursor: pointer;
    }
</style>

<div id="postContent">
    @foreach (var post in Model)
    {
        <div onclick="getPostDetails('@post.Id')" class="row" style="border: 1px solid #dbdbdb; padding-top: 5px; padding-bottom: 5px;">
            <div class="col-sm-4">
                <img src="/@post.ImagePath" height="150" width="250" />
            </div>
            <div class="col-sm-8">
                <h4>@post.Title </h4>
                @Html.Raw(post.Blurb)
            </div>
        </div>
        <br />
    }
</div>

<script>
    function getPostDetails(id) {
        $.ajax({
            url: "/posts/" + id,
            cache: false,
            success: function (data) {
                location.href = "/posts/" + id;
            }
        });
    }
</script>